<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	
</head>
<body>
<center><p style="background: pink;"><img src="https://i0.wp.com/amritavidyalayam.org/wp-content/uploads/av-logo.png"></p></center>
<center><h3><i>A place to learn, a chance to grow</i></h3></center>
<form action="/login" method="GET"><center><button  style="background-color: #57B846; border-color: #57B846;"><h3><i>Click here to login</i></h3></button></center></form>>
<br />
<form action="/register" method="GET"><center><button style="background-color: #57B846; border-color: #57B846;"><h3><i>Click here to register</i></h3></button></center></form>
<br />
<br />
<p><h3>Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is accredited 'A' by NAAC and is ranked as one of the best research institutions in India. Amrita is spread across six campuses in three states of India - Kerala, Tamil Nadu and Karnataka, with the headquarters at Ettimadai, Coimbatore, Tamil Nadu. Amrita Vishwa Vidyapeetham continuously collaborates with top US universities including Ivy league universities and top European universities for regular student exchange programs, and has emerged as one of the fastest growing institutions of higher learning in India. The institution is managed by the Mata Amritanandamayi Math.</h3><br /><br />
<center style="border: solid"><img src="https://www.amrita.edu/sites/default/files/google-map-amrita.jpg"></center>
<h1 class="a"><b><u>Amrita School of Business</u></b></h1><a href="file:///C:/Users/deepa/OneDrive/Desktop/codenza/amsofbusiness.html">click here</a><br />
<p style="border: dotted">The school offers a residential two-year MBA degree program. In addition, it offers a dual degree program leading to an MS in information technology and MBA in collaboration with State University of New York at Buffalo, for working professionals at the Bangalore campus. Faculty members have B.A.s and B.B.A.s from reputed foreign universities such as University of California, Berkeley, Cornell University, NYU Stern School of Business, University of Texas at Austin, and Kellogg School of Management.</p><br /><br />

<h1 class="a"><b><u>Amrita Schools of Arts and Sciences</u></b></h1><a href="file:///C:/Users/deepa/OneDrive/Desktop/codenza/amsofas.html">click here</a><br />
<p style="border: dotted">The schools offer Bachelor of Commerce (BCom), Bachelor of Business Management (BBM), Bachelor of Computer Applications (BCA), Master of Computer Applications (MCA), Master of Science (MSc) in Computer Science and Information Technology. The campuses offering Arts and Sciences are located at Amritapuri, Kochi and Mysore.</p><br /><br />

<h1 class="a"><b><u>Amrita Healthcare Campuses</u></b></h1><a href="https://www.amrita.edu/campus/healthscience">click here</a><br />
<p style="border: dotted">Attached to the Amrita Institute of Medical Sciences and Research Centre, a 1300-bed super-speciality hospital in Kochi aims to provide the "best medical care regardless of the patient's ability to pay. It is the university's healthcare initial campus. Foundation stone for a second medical school and 2,000 bed hospital campus in Delhi is laid on of 9 May 2016. This will be the second healthcare campus and medical school. The Amrita Schools of Medicine, Dept of Hospital Administration provide MHA (Masters in Hospital Administration), Nursing, Pharmacy, and Dentistry are on this campus. They respectively offer MBBS, Bachelor of Science (Nursing), undergraduate/graduate Pharmacy programs, and Bachelor of Dental Surgery degree programs."<br />

The School of Medicine offers graduate programs including MSc in disciplines, Diplomate of National Board (DNB), and PhD. In 2008, the first batch of MBBS students graduated with A. P. J. Abdul Kalam presiding over the graduation ceremony.</p><br /><br />

<h1 class="a"><b><u>Amrita School of Biotechnology</u></b></h1><a href="https://www.amrita.edu/school/biotechnology">click here</a><br />
<p style="border: dotted">The school was started in September 2004 and offers BSc and MSc in Biotechnology, BSc and MSc in Microbiology, and MSc in Bioinformatics, as well as Ph.D. degree programs. Its research spans a wide spectrum including Cell Biology, Molecular Biology, Cancer Biology, Cell-line Engineering, Wound Healing, Computational Neuroscience, Neurophysiology, Phytochemistry, Biomedical Engineering, Proteomics, RNAi, Analytical Chemistry, Snake Venoms, Sanitation Biotechnology.<br />

The Amrita School of Biotechnology is approved as a Center of Relevance and Excellence (CORE) in Biomedical Technology under the Department of Science and Technology, Government of India, TIFAC Mission REACH programme. The School of Biotechnology was selected by the DBT-BIRAC (Government of India) and the Bill & Melinda Gates Foundation as one of the top six innovators in India to develop next generation sanitation solutions using bacteriophages and other biocontrol agents.</p><br /><br />

<h1 class="a"><b><u>Amrita School of Communication</u></b></h1><a href="https://www.amrita.edu/school/communication">click here</a><br />
<p style="border: dotted">The school offers (BA and MA) degree programs in Communication. The course helps prepare students for careers in journalism, new media/animation, and short film making and advertising. It is modeled on UNESCO guidelines. Amrita University was one among the first Indian universities to adopt the UNESCO model curriculum.</p><br /><br /></p>
<ul><h1>Go to Amrita's official sites from below:</h1>
	<li><a href="https://www.amrita.edu/school/business"> Amrita school of Business</a></li>
	<li><a href="https://www.amrita.edu/school/asas">Amrita school of Arts and Science</a></li>
	<li><a href="https://www.amrita.edu/campus/healthscience">Amrita Health care campuses</a></li>
	<li><a href="https://www.amrita.edu/school/biotechnology">Amrita school of Biotechnology</a></li>
	<li><a href="https://www.amrita.edu/school/communication">Amrita school of Communication</a></li>
</ul>
<div><h2><b>B-tech</b></h2>
	<select>
		<option><a href="https://www.amrita.edu/school/engineering/coimbatore/computer-science">CSE</a></option>
		<option><a href="https://www.amrita.edu/admissions/btech-2019">MEC</a></option>
		<option><a href="https://www.amrita.edu/admissions/btech-2019">ECE</a></option>
		<option><a href="https://www.amrita.edu/admissions/btech-2019">EEE</a></option>
	</select>
</div>
<br />
<div>
<center style="border: solid black;"><a href="https://collegedunia.com/university/28384-amrita-vishwa-vidyapeetham-coimbatore-campus-coimbatore"><img src="http://indiaeducationdiary.in/wp-content/uploads/2017/11/Amrita-University-Campus-1.jpg"></a></center>
<center><u><a href="https://collegedunia.com/university/28384-amrita-vishwa-vidyapeetham-coimbatore-campus-coimbatore">Amrita vishwa vidyapeetham, Coimbatore</a></u></center>
<br /><br />
<center style="border: solid black;"><a href="https://collegedunia.com/university/25635-amrita-vishwa-vidyapeetham-amritapuri-campus-kollam"><img src="https://www.amrita.edu/sites/default/files/styles/school_banner_img/public/school_images/Engineering_banner-img_01.jpg?itok=3qD74K0K"></a></center>
<center><u><a href="https://collegedunia.com/university/25635-amrita-vishwa-vidyapeetham-amritapuri-campus-kollam">Amrita vishwa vidyapeetham, Amritapuri</a></u></center>
<br /><br />
<center style="border: solid black;"><a href="https://www.amrita.edu/campus/bengaluru"><img src="https://www.pagalguy.com/wp-content/uploads/2018/10/25D86654C5AEE85A.jpg"></a></center>
<center><u><a href="https://www.amrita.edu/campus/bengaluru">Amrita vishwa vidyapeetham, Banglore</a></u></center>
<br /><br />
</div>
</body>
</html>