<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style type="text/css">
	.s
	{
		background-color: grey;
		background:rgba(0,0,0,0.2);
		margin-left: 100px;
		width: 200px;
		height: 500px;
		margin-top: 60px;
		border-radius: 20px;
	}
	</style>
</head>
<body><form action="/register" method="POST">
<div class="row">
	<div class="col-md-2"><img src="https://www.iaspaper.net/wp-content/uploads/2017/09/Amrita-University-Logo.png" style="width: 200px; height: 200px;"></div>
	<div class="col-md-3 s">
		<br />
		<div class="row" style="margin-left: 20px;"><h4><b><i>Sign Up</i></b></h4></div>
		<div class="row" style="margin-left: 20px; color: blue;"><h4><b>We will need...</b></h4></div>
		<br />
		<div class="row">
			<div class="col-md-4">
				<input class="d" name="Name" type="text" placeholder="Your name" style="text-align: left;text-underline-position: 10px; border-color: white;margin-left: 30px;">
			</div>
			<br />
		</div>
        <div class="row">
			<div class="col-md-4">
				<input class="d" name="Age" type="text" placeholder="age" style="text-align: left;text-underline-position: 10px;margin-top: 20px; border-color: white;margin-left: 30px;">
			</div>
			<br />
		</div>
        <div class="row">
			<div class="col-md-4">
				<input class="d" name="Pno" type="text" placeholder="Phone Number" style="text-align: left;text-underline-position: 10px;margin-top: 20px; border-color: white;margin-left: 30px;">
			</div>
			<br />
		</div>
		<br />
		<div class="row">
			<div class="col-md-4">
				<input class="d" name="Email" type="text" placeholder="Email address" style="text-align: left;text-underline-position: 10px; border-color: white;margin-left: 30px;">
			</div>

		</div>
		<br />
		<div class="row">
			<div class="col-md-4">
				<input type="password" name="Password" placeholder="Password" style="text-align: left;text-underline-position: 10px; border-color: white;margin-left: 30px;" class="d">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-4">
				<input class="d" name="CPassword" type="password" placeholder="Confirm Password" style="text-align: left;text-underline-position: 10px; border-color: white;margin-left: 30px;">
			</div>
			<div style="color: red; margin-left: 20px;"><i>*Only use the Password given above</i></div>
		</div>
		<br />

		<div class="row" ><button type="submit" value="Register" style="background-color: #57B846; margin-left: 125px; border-color: #57B846;"><b>Register</b></button></div>
		<br />
	</div>
	<div class="col-md-6"><img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3528234.jpg" style="width:550px; height: 550px; margin-top: 30px;"></div>
</div>

</form>></body>
</html>